@model IEnumerable<MainProject.Models.Product>

<div class="container">
    <div class="card-container">
        @foreach (var item in Model)
        {
            <div class="card">
                <img src="@item.Image" alt="@item.Name" class="card-image">
                <div class="card-content">
                    <h2><a asp-controller="Products" asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h2>
                    <p>@item.Description</p>
                    <p>$@item.MSRP</p>
                    <div class="card-actions">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="action-button-edit" asp-controller="Products" asp-action="Edit"
                                asp-route-id="@item.Id">Edit</a>
                            <a class="action-button-details" asp-controller="Products" asp-action="Details"
                                asp-route-id="@item.Id">Details</a>
                            <a class="action-button-delete" asp-asp-controller="Products" asp-action="Delete"
                                asp-route-id="@item.Id">Delete</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
