@model MainProject.Models.Order

@{
    ViewData["Title"] = "Order Details";
}

<!-- The logic for redirecting the user to /Carts in case there are no order items is present in OrdersController > Checkout() -->
<div class="container">

    <div class="orders-container">
        <div class="order-items-container">
            <h2 class="heading-style-coffee">@ViewData["Title"]</h2>
            @foreach (var orderItem in Model.OrderItems)
            {
                <div class="order-item">
                    <div class="order-product-details product-details">
                        <h2 class="heading-style-coffee">@orderItem.ProductName</h2>
                        <div class="order-product-image">
                            <img src="@orderItem.Image" alt="@orderItem.ProductName" />
                        </div>
                        <p>Size: @orderItem.Size</p>
                        <p>Quantity: @orderItem.Quantity</p>
                        <p>Price: $@orderItem.Price</p>
                        <p>Subtotal: $@(orderItem.Quantity * orderItem.Price)</p>
                    </div>
                </div>
            }
        </div>

        <div class="order-total-container">
            <p class="final-order-total">Final Total: $@(Model.OrderItems.Sum(orderItem => orderItem.Quantity *
                orderItem.Price))
            </p>
            <p class="final-order-total">
                Payement Status - @(Model.PaymentReceived ? "Received" : "Not Received")
            </p>

            @if (!Model.PaymentReceived)
            {
                <form asp-action="ProcessPayment">
                    <button class="action-button-save">Proceed to Payment</button>
                </form>
            }
            else
            {
                <p class="final-order-total">Congrats! Your order has been successfully placed!
                </p>
            }

            <a class="link-style-2" asp-action="Index">Back to Orders List</a>

        </div>

    </div>

    <p class="link-para-container">
        <a class="link-style-2" asp-controller="Products" asp-action="Index">Show All Products</a>
        <a class="link-style-2" asp-controller="Categories" asp-action="Index">Show All Categories</a>
    </p>
</div>
