@model IEnumerable<MainProject.Models.Category>

@{
    ViewData["Title"] = "Categories - Crafty Creations";
}

<div class="container">
    <h1 class="categories-heading">Categories</h1>

    <p class="link-para-container">
        @if (User.IsInRole("Admin"))
        {
            <a class="link-style-1" asp-action="Create">Create New Category</a>
        }
    </p>

    <div class="card-container">
        @foreach (var item in Model)
        {
            <div class="card">
                <img src="@item.Image" alt="@item.Name" class="card-image">
                <div class="card-content">
                    <h2><a asp-action="Details" asp-route-id="@item.Id">@item.Name</a></h2>
                    <p>@item.Description</p>
                    <div class="card-actions">
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="action-button-details" asp-action="Details" asp-route-id="@item.Id">Details</a>
                            <a class="action-button-edit" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="action-button-delete" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
