@model MainProject.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="products-heading">Details for an Existing Product</h1>

    <h2 class="products-subheading">Product Details</h2>
    <hr />
    <dl class="row" id="details-products-container">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MSRP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MSRP)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
    </dl>

    <form asp-controller="Carts" asp-action="AddToCart"> <!-- AddToCart action under cartscontroller -->
        <!-- asp forms automatically post instead of get -->
        <input type="hidden" name="productId" value="@Model.Id">
        <input type="number" name="quantity" value="1" step="1" min="1" max="999999">
        <!-- This is meant to be a quick add so the quantity is hardcoded -->
        <input type="submit" value="Add to Cart" class="btn btn-success">
    </form>

    <p class="link-para-container">
        <a class="action-button-edit" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="link-style-2" asp-action="Index">Back to Categories List</a>
    </p>
</div>
