@model MainProject.Models.Product

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="products-heading">Product Details</h1>
    <br>

    <div class="row" id="details-products-container">
        <div class="col-md-6 product-image-detail">
            <img src="@Model.Image" class="img-fluid" alt="Product Image">
        </div>
        <div class="col-md-6 product-detail">
            <h2 class="product-detail-heading">@Model.Name</h2>
            <p class="product-detail-description">@Model.Description</p>
            <dl class="row" id="details-products-container">
                <dt class="col-sm-4 price-label">Price:</dt>
                <dd class="col-sm-8 price-label">$@Model.MSRP</dd>
                <dt class="col-sm-4 category-label">Category:</dt>
                <dd class="col-sm-8 category-label"><a class="link-style-1" asp-controller="Categories"
                        asp-action="Details" asp-route-id="@Model.CategoryId">@Model.Category.Name</a></dd>
            </dl>

            <form asp-controller="Carts" asp-action="AddToCart">
                <input type="hidden" name="productId" value="@Model.Id">
                <label asp-for="Size" class="control-label"></label>
                <select asp-for="Size" class="form-control" asp-items="Html.GetEnumSelectList<ProductSize>()"></select>
                <input class="quantity-selector" type="number" name="quantity" value="1" step="1" min="1" max="999999">
                <input type="submit" value="Add to Cart" class="btn add-to-cart">
            </form>
        </div>
    </div>

    <p class="link-para-container">
        @if (User.IsInRole("Admin"))
        {
            <a class="action-button-edit" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        }
        <a class="link-style-2" asp-action="Index">Show All Products</a>
        <a class="link-style-2" asp-controller="Categories" asp-action="Index">Show All Categories</a>
    </p>
</div>
